<div class="jumbotron">
<!-- Super simple Angular example code -->
<h3>The cool things you have installed in your app are:</h3>

<ul ng-repeat="coolThing in coolThings">
    <li>{{coolThing.name}}, written in {{coolThing.language}}</li>
</ul>

<!-- Intro Readme: remove me first -->
  <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Hide/Show Readme</button>
  <hr>
  <div collapse="isCollapsed">
    <%= GitHub::Markdown.render_gfm(File.read(Rails.root.join('README.md'))) %>
  </div>


</div>
